@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Rubik&display=swap');

/* Remove padding and margin by default. */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Keep page content in a narrow column. */
body {
    width: 750px;
    margin: 0 auto;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Series of rules covering the title and tagline. */
#header {
    text-align: center;
}

#header h1 {
    font-size: 220%;
    font-family: 'Rubik', sans-serif;
}

/* Div containing round information, dice rolling button, and dice results. */
#info-container {
    background-color: aqua;
    border-radius: 15px;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    height: 200px;
}

#dice-roller {
    float: left;
}

#score-container {
    float: right;
    color: blue;
    font-size: larger;
    font-weight: 700;
}

#play-area {
    background-color: wheat;
    border-radius: 15px;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    height: 600px;
    clear: both;
}

/* Establish style for all die and number boxes. */
.die {
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    float: left;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px;
    border-radius: 5px;
}

.used-play-space, .blocked-play-space {
    background-color: turquoise;
}

.sumDie {
    height: 50px;
    width: 50px;
    background-color: burlywood;
    float: left;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px;
    color: blue;
}

/* Create a new line for each set of dice. */
#value10, #value20, #value30, #value40, #sum5 {
    clear: both;
}