@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Rubik&display=swap');

/* Remove padding and margin by default. */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Keep page content in a narrow column. */
body {
    /* width: 750px; */
    width: 90vw;
    max-width: 750px;

    margin: 0 auto;
    font-family: 'Be Vietnam Pro', sans-serif;
}

p, li {
    margin-bottom: 10px;
    word-spacing: 1px;
}

li {
    margin-left: 25px;
}

/* Series of rules covering the title and hyperlinks. */
#header {
    text-align: center;
    margin-top: 20px;
}

#header h1 {
    font-size: 220%;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
}

/* Div containing round information, dice rolling button, and dice results. */
#info-container {
    background-color: #FFCBCB;
    border-radius: 15px;
    /* padding: 20px; */
    /* width: 710px; */
    width: 100%;
    max-width: 750px;
    padding: 20px;
    box-sizing: border-box;

    margin: 0 auto;
    height: 140px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Contains button and dice results. */
#dice-roller {
    float: left;
}

.button {
    clear: both;
    height: 50px;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 400;
    line-height: 50px;
    border-radius: 5px;
    padding: 0px 10px;
}

#new-game {
    background-color: green;
    color: white;
}

/* Contains score information. */
#score-container {
    float: right;
    color: blue;
    font-size: larger;
    font-weight: 700;
}

/* Play area aligned to the left. */
#play-area {
    background-color: #D9D7F1;
    border-radius: 15px;
    /* padding: 20px; */
    /* width: 420px; */

    padding: 20px;
    width: 66%;
    max-width: 460px;
    box-sizing: border-box;
    

    margin: 0 auto;
    /* height: 450px; */
    clear: both;
    margin-bottom: 20px;
    float: left;
}

/* Scoring cheat-sheet aligned to the right. */
#score-information {
    float: right;
    /* width: 230px; */

    max-width: 290px;
    width: 34%;
    padding: 20px;
    margin-left: 20px;
    box-sizing: border-box;

    background-color: #E7FBBE;
    border-radius: 15px;
    /* padding: 20px; */
    /* margin-left: 20px; */
    margin-bottom: 20px;
}

/* Text in the play area. */
#assign-dice {
    line-height: 30px;
}

/* Rules, bottom of the page. */
#how-to-play {
    clear: both;
}

/* Establish style for all die and number boxes. */
.die, .sumDie {
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px;
}

.die {
    /* height: 50px; */
    /* width: 50px; */
    background-color: whitesmoke;
    /* float: left;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px; */
    border-radius: 5px;
}

.used-play-space, .blocked-play-space {
    background-color: turquoise;
}

.sumDie {
    /* height: 50px; */
    /* width: 50px; */
    background-color: burlywood;
    /* float: left;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    line-height: 50px; */
    color: blue;
}

.clickedDie {
    background-color: greenyellow;
}

.usedDie {
    background-color: red;
}

/* Create a new line for each set of dice. */
#value10, #value20, #value30, #value40, #sum5 {
    clear: both;
}

/* Responsive design */

/* For screens with width 810px and below */
@media screen and (max-width: 810px) {
    #score-information {
        float: left;
        margin-left: 20px;
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .die, .sumDie {
        height: 40px;
        width: 40px;
        margin: 7px;
        /* font-size: larger; */
        /* font-weight: 700; */
        line-height: 40px;
        /* border-radius: 5px; */
    }

    #play-area {
        max-width: 365px;
    }

    #score-information {
        width: 34%;
    }

    .button {
        height: 40px;
        /* margin: 10px; */
        /* font-size: larger; */
        /* font-weight: 400; */
        line-height: 40px;
        /* border-radius: 5px; */
        /* padding: 0px 10px; */
    }
}

@media screen and (max-width: 660px) {

}